@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* Overlay transition */
.transition-opacity {
  transition: opacity 300ms ease;
}
.leaflet-touch .leaflet-control-attribution {
  display: none;
}
.leaflet-popup-content {
  width: 201px;
  display: flex;
  height: 60px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.leaflet-control-geosearch form {
  display: block;
}
.leaflet-control-geosearch .leaflet-bar-part {
  display: none;
}
.leaflet-control-geosearch form {
  position: absolute;
  left: 0;
  border-radius: 8px;
}
.leaflet-touch .leaflet-control-geosearch button.reset {
  display: none;
}

.leaflet-control-geosearch form input {
  width: 100%;
  border: 1px solid #ffffff;
  font-size: 16px;
  height: 40px;
  min-width: 280px;
  border-radius: 8px;
  outline: none;
  padding: 0.5rem;
}

.custom-search-input::placeholder {
  color: #6a7683;
}

.custom-search-input:focus {
  border: 1px solid #ffffff; /* Tailwind's blue-500 */
}
