@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* Overlay transition */
.transition-opacity {
  transition: opacity 300ms ease;
}
.leaflet-touch .leaflet-control-attribution {
  display: none;
}
.leaflet-popup-content {
  width: 201px;
  display: flex;
  height: 60px;
}
.react-datepicker-wrapper {
  width: 100%;
}
